.about{
 background-color: rgb(10,22, 39);
}
.about p{
  font-size: 40px;
  background-color: rgb(4, 12, 22);
}
.about-des{
  width: 50%;
  margin-bottom: 80px;
}


@media(max-width: 414px){
  .about-cont{
    display: flex;
    flex-direction: column-reverse;

  }
  .about-des{
    width: 80%;
    margin-bottom: 100px;
  }
  .pic{
    width: 85%;
  }
}

