.about{
 background-color: rgb(10,22, 39);
}
.about p{
  font-size: 40px;
  background-color: rgb(4, 12, 22);
}
  
 /* .pic-container{
  background-image: url('back.jpg');
 
  border-radius: 900px;

}  */