/* div{
    opacity: 0.7;
} */
#contact{
    background-color: black;
    
}
.bor{
    font-size: 60px;
    /* border-right: 3px solid rgba(255, 255, 255,0.7); */
    
    width: 400px;
    height: 400px;
}
.bor p{
    padding-top: 25%;
}
.black{
    /* height: 200px; */
    text-align: center;
    background-color: black;
    color: white;
}
.black:enabled{
    background-color: black;
} */
 /* .black:disabled{
    background-color: black;
} */

.second{
    padding-top: 100px;
    padding-left: 20%;
}
.contact-options{
    padding-top: 80px;
    width: 600px;
    font-size: 50px;
    /* border-bottom: 1px solid white; */
}
.arrow{
    padding-top: 80px;
    width: 400px;
    font-size: 50px;
}