#contact{
    background-color: rgb(10, 22, 39);
    
}
.contact-heading{
    background-color: rgb(4, 12, 22);
   font-size: 40px;
}

.bor{
    font-size: 60px;
    height: 400px;
}
.bor p{
    padding-top: 25%;
}
.black{
    text-align: center;
    background-color: rgb(10, 22, 39);
    color: white;
    
}
.black:enabled{
    background-color: rgb(10, 22, 39);
} 

.second{
    background-color: rgb(10, 22, 39);
}
.contact-options{
    font-size: 58px;
}