body{
  background-image: url('second.jpg');
  background-position: top;
  /* background-repeat: no-repeat; */
  background-size: contain ;
}
.home{
  z-index: 0;
}
.mern-pic{
    width: 45%;
    margin-left: 650px;
    
  }
  .home-des{
    /* margin-left: 100px; */
    margin-top: 100px;
  }
  .menu{
    margin-top: 200px;
  }
  /* .pic{
    margin: 110px 0 0 500px ;
    width: 30%;
  } */
  .text{
    margin-left: 700px;
    
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  .cv-btn{
    border: 1px solid rgba(6, 184, 255, 0.883);
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(9, 149, 204, 0.5);
    color: white;
    margin-left: 700px;
    padding: 11px;
    font-size: 25px;
    height: 62px;
    width: 110px;
  }
  .cv-btn:hover{
    border: 2px solid rgba(6, 184, 255, 0.883);
    background-color: rgba(4, 42, 58, 0.664);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    outline: aqua;
    /* margin-left: 265px; */
    
    
    /* font-size: 30px; */
    
    /* height: 62px;
    width: 110px; */
  }