.home-des{
  background-color: rgb(10, 22, 39);
  
}

.mern-pic{
    width: auto;
    
  }
  .items{
    margin-top: 30px;
  }
  .home-des{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;

    
  }
  
  .cv-btn{
    border: 1px solid rgba(6, 184, 255, 0.883);
    border-radius: 10px;
    text-decoration: none;
    background-color: rgba(9, 149, 204, 0.5);
    color: white;
    /* margin-left: 700px; */
    padding: 11px;
    font-size: 25px;
    height: 62px;
    width: 110px;
  }
  .cv-btn:hover{
    border: 2px solid rgba(6, 184, 255, 0.883);
    background-color: rgba(4, 42, 58, 0.664);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    outline: aqua;

  }

  .arrow{
    font-size: 40px;
  }