.services{
    background-color: rgb(10, 22, 39);
}
.service-heading{
    background-color: rgb(4, 12, 22);
   font-size: 40px;
}

@media(max-width:414px){
    .skill-container{
        display: flex;
        flex-direction: column;
    }
    .skill-item{
        width: 100%;
        margin-top: 70px;
    }
    hr{
        margin-top: 50px;
    }
}