/* .table-text{
    /* margin-top: 250px; 
    background-color: black;
    padding: 50px 0 20px 0;
*/
/* .table-text h1,p{
    opacity: 0.7;
} */
.skill-container div:hover{
    border: 1px solid rgba(6, 184, 255, 0.883);
    background-color: rgb(4, 12, 22);

}

.pic{
   
}
.services{
    background-color: rgb(10, 22, 39);
}
.service-heading{
    background-color: rgb(4, 12, 22);
   font-size: 40px;
}